*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background:#ba99f0;
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.title{
    color:#faf8f8;
    margin-bottom:25px;
}

.container{
    width:450px;
    background:rgb(255, 255, 255);
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 5px 20px #f4797926;
}

.header{
    background:linear-gradient(90deg,#4f67ff,#d55bdf);
    text-align:center;
    color:white;
    padding:30px;
}

.header p{
    opacity:0.8;
    margin-bottom:10px;
}

.header h2{
    font-size:35px;
}

form{
    padding:35px;
}

.input-box{
    margin-bottom:25px;
}

.input-box label{
    display:block;
    font-size:24px;
    color:#6a4bc4;
    margin-bottom:10px;
}

.input-field{
    display:flex;
    align-items:center;
    border:2px solid #ddd;
    border-radius:30px;
    padding:12px 18px;
}

.input-field i{
    color:#666;
}

.input-field input{
    width:100%;
    border:none;
    outline:none;
    padding-left:15px;
    font-size:16px;
}

.options{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:30px;
}

.options a{
    text-decoration:none;
    color:#6a4bc4;
}

.login-btn{
    width:100%;
    border:none;
    padding:15px;
    border-radius:15px;
    background:linear-gradient(90deg,#09d3c6,#d55bdf);
    color:white;
    font-size:24px;
    font-weight: 900;
    cursor:pointer;
    transition:0.3s;
}

.login-btn:hover{
    transform:scale(1.05);
}

.signup{
    text-align:center;
    margin-top:25px;
    font-size:18px;
}

.signup a{
    color:#6a4bc4;
    font-weight:bold;
}